/* career nav styles*/

.career-nav {
  position: sticky;
  background-color: var(--clr-main-bg);
  top: -1px;
}

.career-nav__menu {
  text-align: center;
}

.career-nav__menu li {
  display: inline-block;
  margin-top: 1vh;
}

.career-tab-container {
  scroll-margin-top: 13vh;
  text-align: justify;
  margin-top: 5vh;
}

.career-tab-container__cards-wrapper {
  /* border: red 2px solid; */
  max-height: 40vh;
  overflow-y: scroll;
  scrollbar-color: var(--clr-primary) var(--clr-main-bg);
  scrollbar-width: 1px;
  margin-top: 3vh;
}

.career-tab-container__title {
  font-size: 2.5rem;
  border-bottom: var(--clr-primary) 1px solid;
  padding-bottom: 10px;
}

.career-tab-container__description,
.career-tab-container__title {
  margin: 1vh 4vw;
}

@media screen and (min-width: 650px) {
  .career-tab-container > p,
  .career-tab-container > h2,
  .career-tab-container section {
    margin-left: 1%;
    margin-right: 1%;
  }
}
