/*================= style for header menu navigation bar ===================*/
.header--menu {
    font-size: 6vw;  
}

.header--menu--burger{
    display: none;
}

.header--menu--items {
    background-color: var(--clr-primary);
    text-align: center;
    line-height: 5vh;
    list-style: none;
}

.header--menu--items li { 
    padding: 0 2vw;
    display: inline;
}

.header--menu--items li a {
    color: var(--clr-main-txt);
}

.header--title {
    margin: 1vh 0;
    text-align: center;
    font-size: 8vw;
}


/* styling the header information bar like translate*/
.header--info {
    text-align: center;
    width: 100%;
    padding: 1vh 0;
    border-bottom: solid  var(--clr-primary) 1px;
}

.header--menu--items a:hover {
    text-decoration: none;
}

.header--menu--items li.active a {
    color: var(--clr-main-bg);
}


/* overrides for mobile landscape mode*/
@media screen and (orientation: landscape) and (max-height: 550px) {

    .header--title {
        font-size: 5vw;
        border-bottom: 1px solid var(--clr-primary);
    }
    
    .header--info {
        text-align: left;
    }
    
    .header--menu  {
        font-size: 3.5vw;
        width: 20vw;
        float: left;
        color: var(--clr-primary);
        padding-top: 10vh;
    } 

    .header--menu .header--menu--items {
        padding-top: 1vh;
        background-color: unset;
        text-align: start;
        height: 100vh;
        line-height: 1.5rem;
        list-style: none;
    }

    .header--menu .header--menu--items li { 
        display: block; 
        margin-top: 4vh;   
    } 
    
    .header--menu--items li.active a {
        color: var(--clr-primary);
    }
}


/* override for laptop and desctop screen*/
@media screen and (min-width: 500px) and (min-height: 550px) {

    .header--title {
        font-size: 3rem;
    }

    .header--menu {
        font-size: 1.8rem;
    }

    .header--menu .header--menu--items li { 
        line-height: 3rem;
    }  
}