@import "./header.css";
@import "./home-page.css";
@import "./carrer-page.css";

/* =============================================================================================================*/
/* the styleSheet concene a legacy browser or browser without JS support*/
/* =============================================================================================================*/

/* overrides for mobile landscape mode*/
@media screen and (orientation: landscape) and (max-height: 550px) {
  main {
    border-left: 1px solid var(--clr-primary);
    float: left;
    width: 78vw;
    line-height: 2rem;
    padding-left: 2vw;
  }
}

/* override for laptop and desctop screen*/
@media screen and (min-width: 500px) and (min-height: 550px) {
  main {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 800px) and (min-height: 550px) {
  main {
    margin: 0 1rem;
  }
}

/* card styles */
.card {
  width: 90%;
  margin: 2vh auto;
  padding: 1em;
  background-color: var(--clr-secondary-bg);
  border-radius: var(--border-radius-card);
  /* box-shadow: -0.1px 0.5px var(--clr-main-txt); */
}
.card:hover .card__header_hover-primary {
    color: var(--clr-primary);
}

.card__header {
  margin-bottom: 1em;
}

@media screen and (min-width: 650px) {
  .card {
    width: 46%;
    min-height: 20vh;
    float: left;
    margin-right: 2%;

  }
}

@media screen and (min-width: 650px) and (max-width: 1000px) {
  .card:nth-child(odd){
    clear: both;
  } 
}



@media screen and (min-width: 1000px) {
  .card {
    width: 30%;
    margin-right: 3%;
  }

  .card:nth-child(3n+1){
    clear: both;
  }
}


