@import "./header.css";
@import "./home-profile.css";

/* =============================================================================================================*/
/* the styleSheet concene a legacy browser or browser without JS support*/
/* =============================================================================================================*/

/* overrides for mobile landscape mode*/
@media screen and (orientation: landscape) and (max-height: 550px) {
    main {
        border-left: 1px solid var(--clr-primary);
        float: left;
        width: 78vw;
        line-height: 2rem;
        padding-left: 2vw;
    }
}


/* override for laptop and desctop screen*/
@media screen and (min-width: 500px) and (min-height: 550px) {
    main {
        padding-top: 2rem;
    }
}

@media screen and (min-width: 800px) and (min-height: 550px) {
    main {
        margin: 0 1rem;
    }
}