node_modules
dist
site
env
*.env
*.log
.DS_Store
*.tsbuildinfo
*.pem
keys
sslcerts
ssh
ssl
crash.log
.terraform
*.tfstate.*
*.tfstate.backup
*.tfstate
terraform.tfstate
.terraform.lock.hcl
.terraform.*