node_modules
dist
site
env
*.env
*.log
.DS_Store
*.tsbuildinfo
*.pem
keys
sslcerts
ssh
ssl
tls
ssh_keys
*.key
*.crt
*.cert
certs
cert
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
crash.log
.terraform
*.tfstate.*
*.tfstate.backup
*.tfstate
terraform.tfstate
.terraform.lock.hcl
.terraform.*