@import './header.css';
@import './home-page.css';
@import './career-page.css';
@import './contact-page.css';

/* =============================================================================================================*/
/* the styleSheet concene a legacy browser or browser without JS support*/
/* =============================================================================================================*/

main {
  min-height: 80vh;
  padding-bottom: 10vh;
}

footer {
  clear: both;
  border-top: 1px solid var(--clr-primary-sky-blue);
}

/* overrides for mobile landscape mode*/
@media screen and (orientation: landscape) and (max-height: 550px) {
  main {
    border-left: 1px solid var(--clr-primary-sky-blue);
    float: left;
    width: 78vw;
    line-height: 2rem;
    padding-left: 2vw;
  }
}

/* override for laptop and desctop screen the min-heigth is used to have the seme behaviour in landscape and portral for larger screen*/
@media screen and (min-width: 500px) and (min-height: 550px) {
  main {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 800px) and (min-height: 550px) {
  main {
    padding: 0 1vw;
  }
}

/* card styles */
.card {
  margin: 2vh auto;
  padding: 1em;
  background-color: var(--clr-secondary-dark);
  border-radius: var(--border-radius-card);
  /* box-shadow: -0.1px 0.5px var(--clr-primary-light); */
}

.card_summary {
  width: 90%;
}

.card:hover .card__header_hover-primary {
  color: var(--clr-primary-sky-blue);
}

.card__header {
  margin-bottom: 0.5em;
}

.card__header_level-one {
  font-size: 2.5rem;
}

.card__header_primary {
  color: var(--clr-primary-sky-blue);
}

.card__header_float {
  float: left;
}

.card__header__label {
  font-size: 1rem;
  color: var(--clr-primary-sky-blue);
  margin-bottom: 0.2em;
}

.card .card_link {
  height: 2.5em;
  width: 2.5em;
  background-color: var(--clr-primary-light);
  color: var(--clr-primary-sky-blue);
  border-radius: 100%;
  text-decoration: none;
  float: right;
  transform: rotate(-45deg);
  transition: transform 0.8s;
}

.card_link:hover {
  transform: rotate(0deg);
  background-color: var(--clr-primary-sky-blue);
  color: var(--clr-primary-light);
}

.card_link::before {
  content: '➔';
  line-height: 1.3em;

  font-size: 2em;
  margin-left: 0.2em;
}

.card__sub-header::before {
  content: '.';
  color: var(--clr-primary-sky-blue);
  font-size: 2em;
  line-height: 1em;
  margin-right: 0.2em;
}

.card__sub-header {
  clear: both;
  color: var(--clr-secondary-light);
  line-height: 1em;
}

@media screen and (min-width: 650px) {
  .card_summary {
    width: 46%;
    float: left;
    margin-right: 2%;
  }
}

@media screen and (min-width: 650px) and (max-width: 1000px) {
  .card_summary:nth-child(2n + 1) {
    clear: both;
  }
}

@media screen and (min-width: 1000px) {
  .card_summary {
    width: 30%;
    margin-right: 3%;
  }

  .card_summary:nth-child(3n + 1) {
    clear: both;
  }
}

/* genral info list style */
.info-list {
  clear: both;
  padding: 0px;
}

.info-list__item {
  /* margin-top: 2vh; */
  height: 3rem;
  margin: 1rem 0;
  list-style: none;
  /* vertical-align: bottom; */
}

.info-list__item__icon {
  background-color: var(--clr-secondary-dark);
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 3.5rem;
  height: 3rem;
  float: left;
  margin-right: 1rem;
  border-radius: var(--border-radius-btn);
}

.info-list__item__label {
  display: block;
  color: var(--clr-secondary-light);
}

/* adapt info list style for global footer */
.footer__info-list {
  margin-left: 10vw;
}

.footer__info-list .info-list__item {
  font-size: 0.8rem;
}

.info-list__item__icon {
  background-size: 2rem 2rem;
  width: 3rem;
  height: 2.5rem;
  margin-right: 1rem;
}

@media screen and (min-width: 500px) {
  .footer__info-list {
    margin-left: 20vw;
  }
}

@media screen and (min-width: 600px) {
  .footer__info-list {
    margin-left: 2%;
  }

  .footer__info-list .info-list__item {
    display: inline-block;
    width: 49%;
    vertical-align: bottom;
  }
}

@media screen and (min-width: 700px) {
  .footer__info-list .info-list__item {
    display: inline-block;
    margin-left: unset;
    width: 32%;
    vertical-align: bottom;
  }
}
