@import "./legacy-browser/styles.css" ;


/** supports(not(display: grid)); */

/* set default background color and text color theme*/
body {
     background-color: var(--clr-main-bg) ;
     color: var( --clr-main-txt );
     margin: auto;
     max-width: 1500px;
}


/* set the color of the header profile Name*/
.header--title {
    color: var(--clr-primary);
}

/**
#32b58a
#cd2d58
#ef405e
**/

/*  set default button style*/
.btn {
    background: #0000;
    color: var(--clr-primary);
    padding: 0.3em 0.5em;
    border: solid  var(--clr-primary) 1px;
    border-radius: 5em;
}

.btn:hover {
    background: var(--clr-primary); 
    color: var(--clr-main-bg);
}

.btn.icon:hover {
    background-color: var(--clr-main-txt);
}

/* active button style */
.btn.btn-active{
    background-color: var(--clr-secondary);
    color: var( --clr-main-txt );
    border: solid  var(--clr-main-txt) 1px;
}

.btn.icon , .btn.icon::after  {
    display: inline-block;
}

.btn.icon {
    padding: 0.1em 0.2em 0 0.2em; 
    vertical-align: middle;
    margin-right: 0.5vw;
}

.btn.icon::after {
    content:"";
    width: 1.6em;
    height: 1.6em;
    background-size: cover;
}

.btn.linkedin-icon::after {
    background-image: url("../assets/icons8-linkedin.svg");
}

.btn.git-icon::after {
    background-image: url("../assets/icons8-git.svg");
}

.btn.youtube-icon::after {
    background-image: url("../assets/icons8-youtube.svg");
}