@import "./legacy-browser/styles.css" ;


/** supports(not(display: grid)); */

/* set default background color and text color theme*/
body {
     background-color: var(--clr-main-bg) ;
     color: var( --clr-main-txt );
     margin: auto;
     max-width: 1500px;
}
menu {
    list-style: none;
}

/* set the color of the header profile Name*/
.portfolio-title {
    color: var(--clr-primary);
}

/**
#32b58a
#cd2d58
#ef405e
**/

/*  set default button styles*/
.btn {
    background: #0000;
    /* the inline display can cause a issues whith parent sizing hieght adaptation*/
    display: inline-block;
    color: var(--clr-primary);
    padding: 0.3em 0.5em;
    border: solid  var(--clr-primary) 1px;
    border-radius: var(--border-radius-btn);
}

.btn:hover {
    background: var(--clr-primary); 
    color: var(--clr-main-bg);
}

.btn_icon:hover {
    background-color: var(--clr-main-txt);
}

/* active button style */
.btn_active{
    background-color: var(--clr-secondary);
    color: var( --clr-main-txt );
    border: solid  var(--clr-main-txt) 1px;
}

.btn_icon , .btn_icon::after  {
    display: inline-block;
}

.btn_icon {
    padding: 0.1em 0.2em 0 0.2em; 
    vertical-align: middle;
    margin-right: 0.5vw;
    border-radius: 100%;
}

.btn_icon::after {
    content:"";
    width: 1.6em;
    height: 1.6em;
    background-size: cover;
}

.btn_icon_linkedin::after {
    background-image: url("../assets/icons8-linkedin.svg");
}

.btn_icon_git::after {
    background-image: url("../assets/icons8-git.svg");
}

.btn_icon_youtube::after {
    background-image: url("../assets/icons8-youtube.svg");
}