/* font init*/

@font-face {
  font-family: "ralewayregular";
  src: url("../assets/fonts/raleway-regular/raleway-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/raleway-regular/raleway-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "philosopherregular";
  src: url("../assets/fonts/philosopher-regular/philosopher-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/philosopher-regular/philosopher-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oxygenregular";
  src: url("../assets/fonts/oxygen-regular/oxygen-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/oxygen-regular/oxygen-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cabinregular";
  src: url("../assets/fonts/cabin-regular/cabin-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/cabin-regular/cabin-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "arimoregular";
  src: url("../assets/fonts/arimo-regular/arimo-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/arimo-regular/arimo-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cinzelregular";
  src: url("../assets/fonts/cinzel-regular/cinzel-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/cinzel-regular/cinzel-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "italianaregular";
  src: url("../assets/fonts/italiana-regular/italiana-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/italiana-regular/italiana-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "josefin_slabregular";
  src: url("../assets/fonts/josefinslab-regula/josefinslab-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/josefinslab-regula/josefinslab-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ostrich_sansmedium";
  src: url("../assets/fonts/ostrich-regular/ostrich-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/ostrich-regular/ostrich-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "overlockregular";
  src: url("../assets/fonts/overlock-regular/overlock-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/overlock-regular/overlock-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: oblique;
}
