@font-face {
  font-family: "karla";
  src: url("../assets/fonts/karla/Karla-VariableFont_wght.woff") format("woff");
  /* src: url("../assets/fonts/karla/woff/Karla-VariableFont_wght.woff")
    format("woff"); */
}
