
/* init css vars*/
:root {
    --clr-main-bg : #1C1B22;
    --clr-main-txt : white;
    --clr-primary :  #12B4E4;
    --clr-secondary : #6495ed;
}


/* reset border size calculate*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

/*reset margin for all elements*/
* {
    margin: 0;
    padding: 0;
}
