/* init css vars*/
:root {
  --clr-primary-dark: #1c1b22;
  --clr-secondary-dark: #232229;
  --clr-secondary-light: #8b8b8d;
  --clr-primary-light: white;
  --clr-primary-sky-blue: #12b4e4;
  --clr-secondary-sky-blue: #6495ed;
  --border-radius-btn: 5px;
  --border-radius-card: 10px;
  --gradiant-background: linear-gradient(90deg, #8b8b8d 0%, #8b8b8d 100%);
}

/* reset border size calculate*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*reset margin for all elements*/
* {
  margin: 0;
  padding: 0;
}

/* reset form styles */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

textarea {
  overflow: auto;
}
