/* ===========================================================*/
/* the styleSheet concene a legacy browser without JS support*/
/* ===========================================================*/

/* style for header menu navigation*/
.header--menu {
    font-size: 6vw;
   
}

.header--menu--burger{
    display: none;
}

.header--menu--items {
    background-color: var(--clr-primary);
    text-align: center;
    line-height: 5vh;
    list-style: none;
   
}

.header--menu--items li { 
    padding: 0 2vw;
    display: inline;
    /*text-decoration: underline;*/
}

.header--menu--items li a {
    color: var(--clr-main-txt);
}
/*   */
.header--title {
    margin: 1vh 0;
    text-align: center;
    font-size: 8vw;
}


/* styling the header information bar like translate*/
.header--info {
    text-align: center;
    width: 100%;
    padding: 1vh 0;
    border-bottom: solid  var(--clr-primary) 1px;
}

.lang-form {
    display: inline-block;
}



/*user portfolio styling*/

.profolio-photo-wrapper{
    width: 50vw;
    margin: 2vh auto;
}

.profolio-photo-wrapper img {
    max-width: 100%;
    border: solid  var(--clr-primary) 1px;
    border-radius: 100%;
}

/*home page presetation article*/
.presentation {
    margin-bottom: 5vh;
}

.presentation > * {
    text-align: center;
    margin-bottom: 2vh;
}


.presentation--identification {
    font-size: 2rem;
}

.presentation--identification em{
    color: var(--clr-primary);
    font-weight: bolder;
}

.presentation--description {
    margin-top: 2vh;
}

/* user link for dowload and social media*/

/* .user-links {
    
} */

.user-links ul {
    text-align: center;
}

.user-links ul li {
    display: inline-block;
    line-height: 1em;
}

.user-links ul li:has(button) {
    margin-right: 7vw;
}

.experience-summary ul {
    width: max-content;
    list-style: none;
    max-width: 85vw;
    margin-left: 15vw;
}

.experience-summary ul li {
    display: inline-block;
    min-width: 49%;
}


.experience-summary ul li span  {
    display: inline-block;
    width: 8ch;

}

.experience-summary ul li b  {
    font-size: 3rem;
}




/* overrides for mobile landscape mode*/
@media screen and (orientation: landscape) and (max-height: 550px) {

    .header--title {
        font-size: 5vw;
        border-bottom: 1px solid var(--clr-primary);
    }
    
    .header--info {
        text-align: left;
    }
    
    .header--menu  {
        font-size: 3.5vw;
        width: 20vw;
        float: left;
        color: var(--clr-primary);
        padding-top: 10vh;
       
    } 

    .header--menu .header--menu--items {
        padding-top: 1vh;
        background-color: unset;
        text-align: start;
        height: 100vh;
        line-height: 1.5rem;
        list-style: none;

    }

     .header--menu .header--menu--items li { 
        display: block; 
        margin-top: 4vh;   
    }  

    main {
        border-left: 1px solid var(--clr-primary);
        float: left;
        width: 78vw;
        line-height: 2rem;
        padding-left: 2vw;
    }
}


/* override for laptop and desctop screen*/
@media screen and (min-width: 500px) and (min-height: 550px) {

    .header--title {
        font-size: 3rem;
    }
    .header--menu {
        font-size: 1.8rem;
    } 
    .header--menu .header--menu--items li { 
        line-height: 3rem;
    }  
    main {
        padding-top: 2rem;
    }

    .experience-summary ul {
        max-width: 80vw;
        margin-left: 20vw;
    }
}

/* override for laptop and desctop screen*/
@media screen and (min-width: 600px) and (min-height: 550px) {
    .experience-summary ul {
        width: max-content;
        min-width: unset;
        max-width: unset;
        list-style: none;
        margin: 0 auto;
    }

    .experience-summary ul li {
   
        min-width: unset;
        padding-left:7vw;

    }

    .experience-summary ul li:nth-child(1) {

        padding-left:0px;

    }

 

}

/*@media screen and (min-width: 800px) and (min-height: 550px) {
    .profolio-photo-wrapper{
        float: right;
        width: 40%;
    }

    .presentation {
        float: left;
        width: 55%;
    }
    .experience-summary, .header .header--info {
        clear: both;
    }

    .presentation > * , .user-links ul{
        text-align: left;
    }

    .header .header--title  {
        float: left;
        margin: 0;
    }

    .experience-summary ul {
        margin: 0px;
    }

    .header .header--menu{
        float: right;
    }

    .header--menu--items {
        background-color: unset;
    }

    .header--menu--items a {
        text-decoration: none;
    }
    .header--info {
        border: unset;
        text-align: right;
    }

    

}*/