/* ===========================================================*/
/* the styleSheet concene a legacy browser without JS support*/
/* ===========================================================*/

/* style for header menu navigation*/
.header--menu {
    font-size: 6vw;
   
}

.header--menu--burger{
    display: none;
}

.header--menu--items {
    background-color: var(--clr-primary);
    text-align: center;
    line-height: 5vh;
    list-style: none;
   
}

.header--menu--items li { 
    padding: 0 2vw;
    display: inline;
    text-decoration: underline;
}

/*   */
.header--title {
    margin: 1vh 0;
    text-align: center;
    font-size: 8vw;
}


/* styling the header information bar like translate*/
.header--info {
    text-align: center;
    width: 100%;
    padding: 1vh 0;
    border-bottom: solid  var(--clr-primary) 1px;
}

.lang-form {
    display: inline-block;
}



/*user portfolio styling*/

.profolio-photo-wrapper{
    width: 90vw;
    margin: 1vh auto;
}

.profolio-photo-wrapper img {
    max-width: 100%;
    border: solid  var(--clr-primary) 1px;
    border-radius: 100%;
}

/*home page presetation article*/
.presentation {
    text-align: center;
}


.presentation--identification strong {
    font-size: 2rem;

}

.presentation--identification strong em{
    color: var(--clr-primary);

}

.presentation--description {
    margin-top: 2vh;
}

/* user link for dowload and social media*/

.user-links {
    margin: 2vh auto;
}

.user-links ul {
    text-align: center;
}

.user-links ul li {
    display: inline-block;
    line-height: 1em;
}

.user-links ul li:has(button) {
    margin-right: 7vw;
}



/* overrides for mobile landscape mode*/
@media screen and (orientation: landscape) and (max-height: 550px) {

    .header--title {
        font-size: 5vw;
    }
    
    
    .header {
        border-bottom: 1px solid var(--clr-primary);
    }
    
    .header--info {
        text-align: left;
    }
    
    .header--menu  {
        font-size: 3.5vw;
        width: 20vw;
        float: left;
        color: var(--clr-primary);
        padding-top: 5vh;
       
    } 

    .header--menu .header--menu--items {
        padding-top: 1vh;
        background-color: unset;
        text-align: start;
        height: 100vh;
        line-height: 1.5rem;
        list-style: none;

    }

     .header--menu .header--menu--items li { 
        display: block; 
        margin-top: 4vh;   
    }  

    main {
        border-left: 1px solid var(--clr-primary);
        float: left;
        width: 78vw;
        line-height: 2rem;
        padding-left: 2vw;
    }
}


/* override for laptop and desctop screen*/
@media screen and (min-width: 500px) {

    .header--title {
        font-size: 3rem;
    }
    .header--menu {
        font-size: 1.8rem;
    } 
    .header--menu .header--menu--items li { 
        line-height: 3rem;
    }  
    main {
        padding-top: 2rem;
    }
}