
/***commet css code*/
.menu {
    font-size: 6vw;
   
}

.menu .burger-menu{
    display: none;
}


 .header--title {
    margin: 1vh 0;
    text-align: center;
    font-size: 8vw;
}

.menu .menu--items {
    background-color: var(--clr-primary);
    text-align: center;
    line-height: 5vh;
    list-style: none;
   
}

.menu .menu--items li { 
    /*  */
    padding: 0 2vw;
    display: inline;
    text-decoration: underline;
 

}


@media screen and (orientation: landscape) and (max-height: 550px) {

     .header--title {
        font-size: 5vw;
    }
    

    .header {
        border-bottom: 1px solid var(--clr-primary);
    }

    .menu  {
        font-size: 3.5vw;
        width: 20vw;
        float: left;
        color: var(--clr-primary);
       
    } 

    main {
        border-left: 1px solid var(--clr-primary);
        float: left;
        width: 78vw;
        line-height: 2rem;
        padding-left: 2vw;
    }

    .menu .menu--items {
        padding-top: 1vh;
        background-color: unset;
        text-align: start;
        height: 100vh;
        line-height: 1.5rem;
        list-style: none;

    }

     .menu .menu--items li { 
        display: block; 
        margin-top: 4vh;   
    }  

 

}

@media screen and (min-width: 500px) {

    .header--title {
        font-size: 3rem;
    }
    .menu {
        font-size: 1.8rem;
    } 
    .menu .menu--items li { 
        line-height: 3rem;
    }  
    main {
        padding-top: 2rem;
    }


}