@import './legacy-browser/styles.css';

/** supports(not(display: grid)); */

/* set default background color and text color theme*/
body {
  margin: auto;
  max-width: 1500px;
  font-family: var(--main-font);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

body.content-page main h1,
body.content-page main h2,
body.content-page main h3,
body.content-page main h4,
body.content-page main h5,
body.content-page main h6 {
  font-family: var(--headers-font-content-page);
  letter-spacing: initial;
}

.dark-theme {
  background-color: var(--clr-primary-dark);
  color: var(--clr-primary-light);
}

.ligth-theme {
  background-color: var(--clr-primary-light);
  color: var(--clr-primary-dark);
}

menu {
  list-style: none;
}

/* set the color of the header profile Name*/
.portfolio-title,
header .portfolio-title a {
  color: var(--clr-primary-sky-blue);
}

header .portfolio-title a {
  text-decoration: none;
}

/**
#32b58a
#cd2d58
#ef405e
**/

/*  set default button styles*/
.btn {
  background: #0000;
  /* the inline display can cause a issues whith parent sizing hieght adaptation*/
  display: inline-block;
  color: var(--clr-primary-sky-blue);
  padding: 0.3em 0.5em;
  border: solid var(--clr-primary-sky-blue) 1px;
  border-radius: var(--border-radius-btn);
  min-width: 12ch;
}

.btn:hover {
  background: var(--clr-primary-sky-blue);
  color: var(--clr-primary-dark);
}

.btn_icon:hover {
  background-color: var(--clr-primary-light);
}

/* active button style */
.btn_active {
  background-color: var(--clr-secondary-sky-blue);
  color: var(--clr-primary-light);
  border: solid var(--clr-primary-light) 1px;
}

.btn_icon,
.btn_icon::after {
  display: inline-block;
  min-width: unset;
}

.btn_icon {
  padding: 0.1em 0.2em 0 0.2em;
  vertical-align: middle;
  margin-right: 0.5vw;
  border-radius: 100%;
}

.btn_icon::after {
  content: '';
  width: 1.6em;
  height: 1.6em;
  background-size: cover;
}

.dark-theme a {
  color: var(--clr-primary-light);
}

.ligth-theme a {
  color: var(--clr-primary-sky-blue);
}

.ligth-theme a:hover {
  color: var(--clr-secondary-sky-blue);
}

input,
textarea,
select {
  background-color: var(--clr-primary-dark);
  border: none;
  margin: 0.2rem;
  border-radius: 5px;
  padding-left: 0.5rem;
}

input,
select {
  line-height: 2.5rem;
  height: 2.5rem;
}

input,
textarea {
  color: var(--clr-primary-light);
}

textarea {
  padding-top: 0.5rem;
  resize: none;
}

textarea::placeholder,
select,
input::placeholder {
  color: var(--clr-secondary-light);
}

select,
select option {
  color: var(--clr-primary-light);
}

select option:disabled {
  color: var(--clr-secondary-light);
}

select:required:invalid {
  color: var(--clr-secondary-light);
}

input:focus,
textarea:focus,
select:focus {
  outline: var(--clr-primary-sky-blue) solid 2px;
}

h1,
.heading-level-1 {
  font-size: 2.5rem;
}

h2,
.heading-level-2 {
  font-size: 2.2rem;
}

h3,
.heading-level-3 {
  font-size: 1.9rem;
}

h4,
.heading-level-4 {
  font-size: 1.6rem;
}

h5,
.heading-level-5 {
  font-size: 1.3rem;
}

h6,
.heading-level-6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-level-1,
.heading-level-2,
.heading-level-3,
.heading-level-4,
.heading-level-5,
.heading-level-6 {
  font-family: var(--headers-font);
}

summary > * {
  display: inline-block;
}

ul {
  padding: 2em;
}
