@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=SUSE:wght@100..800&family=Dosis:wght@200..800&display=swap');

/* init css vars*/
:root {
  --clr-primary-dark: #1c1b22;
  --clr-secondary-dark: #232229;
  --clr-secondary-light: #8b8b8d;
  --clr-primary-light: white;
  --clr-primary-sky-blue: #12b4e4;
  --clr-secondary-sky-blue: #6495ed;
  --border-radius-btn: 5px;
  --border-radius-card: 10px;
  --gradiant-background: linear-gradient(90deg, #8b8b8d 0%, #8b8b8d 100%);
  --headers-font: 'Merienda', Arial, Helvetica, sans-serif;
  --headers-font-content-page: 'SUSE', Arial, Helvetica, sans-serif;
  --main-font: 'Dosis', Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS',
    sans-serif;
}

/* reset border size calculate*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*reset margin for all elements*/
* {
  margin: 0;
  padding: 0;
}

/* reset form styles */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

textarea {
  overflow: auto;
}

/*
@font-face {
  font-family: "karla";
  src: url("../assets/fonts/karla/Karla-VariableFont_wght.woff") format("woff");
   src: url("../assets/fonts/karla/woff/Karla-VariableFont_wght.woff")
    format("woff"); 
  }
*/
