<footer>
    <ul class="info-list footer__info-list">
        <li class="info-list__item">
            <div class="info-list__item__icon info-list__item__icon_email" role="presentation"></div>
            <span class="info-list__item__label">Email </span>
            <a class="info-list__item__info" href="mailto:amineouchiha@gmail.com">amineouchiha@gmail.com.</a>
        </li>
        <li class="info-list__item">
            <div class="info-list__item__icon info-list__item__icon_tel" role="presentation"></div>
            <span class="info-list__item__label">Téléphone </span>
            <a class="info-list__item__info" href="tel:+33781581021">+337 81 58 10 21.</a>
        </li>
        <li class="info-list__item">
            <div class="info-list__item__icon info-list__item__icon_adress" role="presentation"></div>
            <span class="info-list__item__label">Adresse </span>
            <address class="info-list__item__info">180 Bvd Gabriel Péri, 93110 Rosny-sous-Bois, France.</address>
        </li>
    </ul>
</footer>