<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Développeur Amine OUCHIHA</title>
  <meta
    name="keywords"
    content="Amine OUCHIHA, développeur FullStack, Node.js, React.js"
  />
  <meta
    name="description"
    content="portfolio de Amine OUCHIHA, développeur FullStack Node.js et React.js"
  />
  <meta name="author" content="Amine OUCHIHA" />
  <meta
    property="og:image"
    content="/favicon.ico"
  />
  <meta property="og:description" content="Desciption, expériences et maîtrises de Amine OUCHIHA" />
  <meta property="og:title" content="Amine OUCHIHA portfolio"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />  
  <link rel="stylesheet" href="/public/styles/initial.css" />
  <link rel="stylesheet" href="/public/styles/common.css" />
  <script defer src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
  <script defer>

  </script>
</head>
