<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Développeur Amine OUCHIHA</title>
  <meta
    name="keywords"
    content="Amine OUCHIHA, développeur FullStack, Node.js, React.js"
  />
  <meta
    name="description"
    content="portfolio de Amine OUCHIHA, développeur FullStack Node.js et React.js"
  />
  <meta name="author" content="Amine OUCHIHA" />
  <meta
    property="og:image"
    content="https://developer.mozilla.org/mdn-social-share.png"
  />
  <meta property="og:description" content=" desciption de Amine OUCHIHA" />
  <meta property="og:title" content="Mozilla Developer Network" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="public/normalize.css" />
  <link rel="stylesheet" href="public/styles/initial.css" />
  <link rel="stylesheet" href="public/styles/common.css" />
</head>
