<!DOCTYPE html>
<html lang="en">
<%- include('/common/head.ejs') %>

<body class="dark-theme">
    <%- include('/common/header.ejs',{ currentUrl, pages}  ) %>
    <h1>Home</h1> 
    <%- include('/common/footer.ejs') %>
</body>

</html>